@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

/* Body */
body {
    font-family: source-sans-pro;
    background-color: #f2f2f2;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-style: normal;
}

/* Container */
.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
}

/* Navigation */
header {
    padding: 10px 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.logo {
    width: 170px;
    height: 67px;
    background: url('../images/logo.png') no-repeat;
}

nav {
    background-color: #eff2f7;

    display: flex;
    align-items: center;
}

header nav ul {
    list-style: none;
}

nav ul li {
    float: left;
    letter-spacing: 2px;
    transition: all 0.3s linear;
}

nav ul li a {
    color: #000;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    padding: 0 30px;
    display: block;
    height: 50px;
}

nav ul li:hover a {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
}

.map {
    font-size: 22px;
    margin: 20px 20px 10px;
}

.content {
    width: 95%;
    margin: 35px auto;
    background-color: #f7f2e8;
}

.top {
    margin-bottom: 30px;
}

h2,
h3 {
    text-align: center;
    padding: 20px auto;
}

h3 {
    color: #ff9000;
}

p {
    text-indent: 2em;
    padding: 10px 55px;
}

.separator {
    width: 80%;
    height: 80px;
    margin: 10px auto;
    background: url('../images/content/separator.png') no-repeat;
    background-size: contain;
}

.con1 {
    width: 85%;
    height: 550px;
    margin: 30px auto;
    background: url('../images/content/稻妻历史人物.png') no-repeat;
    background-size: contain;
}

.relation {
    width: 65%;
    height: 450px;
    margin: 30px auto;
    background: url('../images/content/relation.png') no-repeat;
    background-size: contain;
}

/* 声明 */
.copyright {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #717070;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
    border-top-width: 2px;
}

.copyright p {
    padding: 10px;
}