@font-face {
  font-family: "iconfont"; /* Project id 3361357 */
  src: url('iconfont.woff2?t=1651145132611') format('woff2'),
       url('iconfont.woff?t=1651145132611') format('woff'),
       url('iconfont.ttf?t=1651145132611') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e67d";
}

.icon-xianjudi:before {
  content: "\e67c";
}

.icon-education-1-copy:before {
  content: "\e614";
}

.icon-dianhua:before {
  content: "\e88b";
}

.icon-jineng:before {
  content: "\e636";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-gongzuojingli:before {
  content: "\e607";
}

.icon-shengri:before {
  content: "\e80f";
}

.icon-star-fill:before {
  content: "\e86a";
}

